p {
  text-align: justify;
}

.my-name {
  font-size: 12px;
  font-style: italic;
  font-weight: 600;
}
.caption {
  text-align: center;
  color: #003876;
  display: block;
  font-weight: 700;
  font-style: italic;
}

.plottitle {

}